@font-face {
  font-family: 'Montserrat-Extrabold';
  src: url('../../fonts/montserrat/static/Montserrat-Bold.ttf') format('truetype');
}

h2{
  font-size: 2.5rem!important;
  font-family: 'Montserrat-Extrabold';
}

.search-container{
  padding: 10rem 0rem;
  background-color: #E8EEFE!important;   
}
  
.image-container:hover .img {
  filter: brightness(0.7);
  border: 3px solid #4B53F2;
}
  
.ver-mas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white!important;
  background-color: #4B53F2!important;
}
  
.image-container:hover .ver-mas {
  opacity: 1;
}